* {
    /* Reset browser's padding and margin */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* THIS IS THE SEARCH BUTTON */
.form {
    display: flex;
    flex-direction: row;
  }
  .search-field {
    width: 80px;
    padding: 10px 35px 10px 15px;
    border: 1px;
    outline: none;
  }
  
  .search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  /* ABOVE IS THE SEARCH BUTTON */

  .footer {
      background-color: #BF7631;
  }

  a {
      text-decoration: none;
      text-decoration-color: black;
  }

  .send-button {
    border: none;
    background-color: #bf7631;
    color: #ffffff;
    padding: 4px 12px;
  }

  .add-to-cart {
    border: none;
    background-color: #bf7631;
    color: #ffffff;
    padding: 4px 12px;
    margin: 0 0 0 48%;
  }

  .message-box {
    height: 140px;
  }

  .hr-large {
    border-bottom: 3px solid #000000;
    padding-bottom: 30px;
    margin-right: 50%;
    margin-bottom: 10px;
    margin-top: 40px;
  }

  .hr-small {
    color: #bf7631;
    background-color: #ffffff;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #bf7631;
    margin-bottom: 5px;

  }

  .image-size {
      width: 98px;
      height: 98px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0;
    justify-content: center;
  }

  .card-item {
    width: 398px;
    margin: 30px;
  }

  .card-body {
    color: black;
    padding: 4px;
  }

  .price {
  background-color: #ffffff;
  }

  .title {
    list-style: none;
    width: 50%;
    display: inline-block;
    }

  .flex-nav {
    display: flex;
    flex-wrap: wrap;
    
  }

 .nav-items {
   list-style: none;
   background-color: #ffffff;
   width: 33.33%;
   display: inline-flex;
 }


 .navbar {
  display: inline-flexbox;
  position: fixed;
  width: 100%;
 }

#left-nav{
    justify-content: space-around;
}

#center-nav {
    padding-left: 200px;
}

#cart {
    color: #000000;
}